.playBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  cursor: pointer;
  margin: 150px auto;
  font-size: 20px;
}
.container{
  display: none;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  max-width: 751px;
  gap: 150px ;
  flex-wrap: wrap;
}
.startDiv{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.storeDiv p{
  font-size: 45px;
  font-weight: bolder;
}
.store1{
  background-color: #0069c7;
  color:white;
  border: none;
}
.store2{
  color:white;
  background-color: #d72015;
}
.cube{
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.cube-1{
  left: 0%;
}
.cube-2{
  right: 0%;
}
.throwBtn{
  position: absolute;
  padding: 10px 20px;
  cursor: pointer;
}
.firstPlayerMove{
  left: 77px;
  bottom: 20px;
}
.secondPlayerMove{
  right: 7%;
  top: 14px;
}

.moveSection-1{
  position: absolute;
  top: 10%;
  left: 35%;
}
.moveSection-2{
  position: absolute;
  top: 10%;
  right: 35%;
}
.moveSection > div {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #000000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 30%;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  position: absolute;
  background: #f2f2f2;
}
.moveSection p{
  /* position: relative; */
  position: absolute;
  display: flex;
  cursor: pointer;
  transition: transform 0.5s linear;
}

.finalScore{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 25px;
}

.moveSection{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 77px;
  position: absolute;
  left: 100px;
  right: 0;
  top: 0;
}
.element-first, .element-second{
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 99;
}
.element-second{
  left: 20px;
}
.element-first{
  left: 0;
}
.element-second svg{
  padding: 4px 2px;
  /* background-color: #d72015; */
  /* border: 1px solid gray; */
  /* box-shadow: 1px 1px  gray; */
  color: white;
  /* border-radius: 50%; */
  position: absolute;
  cursor: pointer;
  left: 10px;
}
.element-first svg{
  position: absolute;
  padding: 4px 2px;
  /* border: 1px solid gray; */
  /* box-shadow: 1px 1px  gray; */
  /* background-color: #006bcf; */
  color:white;
  cursor: pointer;
}

.firstDiv{
  z-index: 2;
}
.firstDiv p{
  z-index: 999;
}

.arrowSymbol{
  font-size: 50px;
  font-weight: bolder;
}
.arrowUp{
  color: #0069c7;
}
.arrowDown{
  color: #d91f18;
}

.player1Action, .player2Action{
  position: relative;
}
.player1Action{
  display: flex;
  justify-items: flex-start;
  align-items: flex-end;
  height: 98vh;
  width: 250px;
}
.player2Action{
  display: flex;
  justify-content: flex-end;
}
.action-2{
  right: 0%;
  top: 60px;
}
.action-1{
  left: 0%;
  top: 70%;
}

.starSymbol{
  color: white;
  font-size: 45px;
}
.storeDiv{
  display: flex;
  gap: 35px; 
  padding: 40px;
  background-color: white;
  min-width: 189px;
}

.eachElement{
  width: 15px;
  height: 15px;
}